.skillsMain {
  margin-top: 100px;
  margin-bottom: 100px;
}

#skills {
  scroll-margin-top: 220px;
}

.skillsMain h2 {
  font-family: "Oswald", sans-serif !important;
  text-align: left;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 65px;
  color: #1f1f1f;
}

.skillsMain p {
  font-family: "Open Sans", sans-serif !important;
  text-align: left;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 25px;
  color: #1f1f1f;
}

.skillsElement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  margin: 0px 10px 20px 10px;
  padding: 20px 0px 20px 0px;
  color: #1f1f1f;
  min-width: 120px;
  min-height: 120px;
  background-color: white;
  transition: transform 0.4s; /* Animation */
}

.skillsElement:hover {
  background: rgba(214, 214, 214, 0.1);
  transform: scale(1.1);
}

.skillsElement h5 {
  margin-top: 5px;
}
